<!--blogs/templates/blogs/home.html-->
{% extends 'blogs/base.html' %}
{% block title %} {{ post.title }} {% endblock title %}
{% block content %}

<div class = "container">
<div class =" card">
<div class ="card-header mb-3">{{ post.title }} &emsp;
<a href="{% url 'post-update' post.id %}">Edit</a> |
<a href="{% url 'post-delete' post.id %}">Delete</a>
</div>
<div class ="card-body">
<div class ="card-subtitle">By {{ post.author }}</div>
<div class ="card-text">
<p>{{ post.body }}</p>
<p>Created on <em>{{ post.date_created }}</em> | Last Updated <em>{{ post.date_updated }}</em></p>
</div>
</div>
</div>

</div>


{% endblock content %}