{% extends 'blogs/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container">
    <div class="card" w-75 mx-auto border-0 shadow-sm"> 
    <div class="'card-header'">
        Sign Up
    </div>
    <div class="card-body">
    <form method='post'>
        {% csrf_token %}
        {% bootstrap_button button_type='submit' content='Ok' %}
        {% bootstrap_button button_type='reset' content='Cancel' %}
    </form>
    </div>
    </div>
</div>
{% endblock content %}